/*
 * To change this license header, choose License Headers in Project Properties.
 * To change this template file, choose Tools | Templates
 * and open the template in the editor.
 */
package newjavaclass;
import java.util.Scanner;
/**
 *
 * @author A-6
 */
public class Newjavaclass {
   public static void main(String[] args) {
     int varA = 10;
     int varB = 20;
     double varX = 30;
     double varY = 40;
     boolean isPlus = true;
     Scanner input = new Scanner(System.in);
     System.out.println("masukkan Nilai A (bilangan int):"); 
     varA = input.nextInt();
     System.out.println("Nilai varA = " + varA);
   
     
     System.out.println("masukkan Nilai B (bilangan int):"); 
     varB = input.nextInt();
     System.out.println("Nilai varB = " + varB);
     
     String nama ="";
     System.out.println("Masukkan Nama : ");
     nama = input.nextLine();
     nama = input.nextLine();
     
     System.out.println("Masukkan Bilangan Double pertama : ");
     varX = input.nextDouble();
     System.out.println("bilangan Double 1 : " + varX);
     
     System.out.println("Masukkan Bilangan Double kedua : ");
     varY = input.nextDouble();
     System.out.println("bilangan Double 2 : " + varY);
   
     System.out.println("Masukkan Boolean (true / false) : ");
     isPlus = input.nextBoolean();
     System.out.println("nilai Boolean : " + isPlus);
   
   }
    
}
